# Chaves do Supabase
# Pegue no painel do Supabase em "Project Settings" -> "API"
SUPABASE_URL=https://fnjivgsmbaxssuutacpq.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZuaml2Z3NtYmF4c3N1dXRhY3BxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NTcwMjQsImV4cCI6MjA5MjIzMzAyNH0.DGSTXEZdkynyrldrpP2S3Seye0GvAsR7102oRf0e1ck

# Chave do Fireflies (Opcional)
FIREFLIES_API_KEY=

# Porta do servidor
PORT=3000
